<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <title>Welcome!</title>
</head>
<body>
Welcome!
<br>
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
<div id='registration'>
    <form action="/register" method='post'>
        {% csrf_token %}
        Name: <input type="text" name='name'><br>
        Email: <input type="text" name='email'><br>
        Password must be at least 8 characters
        Password: <input type="password" name='password'><br>
        Confirm password: <input type="password" name='confirm_password'><br>
        Date: <input type='date' name='date'><br>
        <input type="submit" value='Register'><br>
    </form>
</div>

<div id='login'>
    <form action="/login" method='post'>
        {% csrf_token %}
        Email: <input type="text" name='email'><br>
        Password: <input type="text" name='password'><br>
        <input type="submit" value='Login'>
    </form>
</div>



</body>
</html>